.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #c4c4c4;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100% !important;
  align-content: center;
}

.App-logo {
  max-width: 64px;
  max-height: 64px;
  height: 10vw;
  width: 10vw;
}