@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f2f4 !important;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif !important;
  max-width: 98%;
  margin: auto;
}

.tiles {
  background: #ffffff !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 20px !important;
  width: 320px;
  height: 400px;
}

.modalbox {
  background: #ffffff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body {
  padding: 0 !important;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  position: relative;
}
